<div class="bg-secondary-bg">

  <section class="container py-10">
    <div class="flex flex-col sm:flex-row gap-6">
      <div class="shrink-0 sm:w-[240px] lg:w-[282px]">
        <div class="bg-gray-50 p-4 space-y-6 rounded-xl">
          <button class="btn btn-primary w-full font-medium">Добавить пакеты</button>

          <div class="hs-accordion-group">
            <div class="hs-accordion active" id="hs-basic-with-arrow-heading-one">
              <button class="hs-accordion-toggle hs-accordion-active:text-black group py-3 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-black dark:text-gray-200 dark:hover:text-gray-400" aria-controls="hs-basic-with-arrow-collapse-one">
                <span class="font-bold">Категории</span>
                
                <svg class="hs-accordion-active:hidden hs-accordion-active:text-black hs-accordion-active:group-hover:text-black block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
                <svg class="hs-accordion-active:block hs-accordion-active:text-black hs-accordion-active:group-hover:text-black hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
                
              </button>

              <div id="hs-basic-with-arrow-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-arrow-heading-one">
                
                <ul class="grid gap-2">
                  <li class="flex items-center">
                    <img src="/assets/img/icon/products.svg" alt="">
                    <span class="text-gray-600">Продукты</span>
                  </li>

                  <li class="flex items-center">
                    <img src="/assets/img/icon/fun.svg" alt="">
                    <span class="text-gray-600">Развлечения</span>
                  </li>

                  <li class="flex items-center">
                    <img src="/assets/img/icon/strahovka.svg" alt="">
                    <span class="text-gray-600">Страхование</span>
                  </li>

                  <li class="flex items-center">
                    <img src="/assets/img/icon/auto.svg" alt="">
                    <span class="text-gray-600">Авто</span>
                  </li>

                  <li class="flex items-center">
                    <img src="/assets/img/icon/zdorovie.svg" alt="">
                    <span class="text-gray-600">Здоровье</span>
                  </li>

                  <li class="flex items-center">
                    <img src="/assets/img/icon/krasota.svg" alt="">
                    <span class="text-gray-600">Красота</span>
                  </li>

                  <li class="flex items-center">
                    <img src="/assets/img/icon/dostavka.svg" alt="">
                    <span class="text-gray-600">Доставка еды</span>
                  </li>

                  <li class="flex items-center">
                    <img src="/assets/img/icon/technologii.svg" alt="">
                    <span class="text-gray-600">Технологии</span>
                  </li>

                  <li class="flex items-center">
                    <img src="/assets/img/icon/mobile.svg" alt="">
                    <span class="text-gray-600">Мобильная связь</span>
                  </li>
                </ul>

              </div>
            </div>
          
          </div>
        </div>
      </div>
  
      <div class="flex-1 space-y-4">

        <div class="flex justify-between items-center">

          <div class="flex-1 flex items-center">
            <h4 class="font-bold text-2xl">Огонь</h4>
          </div>
        
          <div class="shrink-0">
            <input
              type="text"
              class="border w-full rounded-lg py-2 px-3 bg-white dark:bg-slate-900 focus:outline-0 focus:ring-0 dark:text-white"
              placeholder="Фильтр партнеров"
              [(ngModel)]="term"
            >
          </div>
        </div>
        
        <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6">
          <app-product
            *ngFor="let product of products | filterProducts:term; let i = index"
            [product]="product"
          ></app-product>
        </div>

      </div>
    </div>
  </section>

  <!-- <app-blur></app-blur>

  <app-dark-mode></app-dark-mode> -->
  
  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- <app-modal *ngIf="modalService.isVisible$ | async" title="Create New Product">
    <app-create-products></app-create-products>
  </app-modal>

  <button (click)="modalService.open()">Open</button> -->

</div>
